<mat-card class="play">
  <mat-card-title>Ajouter une musique</mat-card-title>

  <mat-form-field>
    <input matInput placeholder="Titre">
  </mat-form-field>
  <div class="tags-grid">

  </div>

  <div class="form-group">
    <label for="file">Choisir la musique</label>
    <input type="file" #file (change)="onFilesAdded()" multiple />
  </div>


  Progress:
  <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress | async"></mat-progress-bar>
</mat-card>