<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="account-wall">
            <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                alt="">
            <p *ngIf="error" class="alert alert-error">{{error}}</p>
            <div class="form-signin">
                <input type="text" class="form-control" placeholder="Email" [(ngModel)]="login" required autofocus>
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" required>
                <button class="btn btn-lg btn-primary btn-block" (click)="submitLogin()">
                    Connexion</button>
            </div>
        </div>
    </div>
</div>
