.fill-space {
    flex: 1 1 auto;
}

.toolbar {
    background:#000;
    border-bottom: 3px solid rgb(240, 51, 183);
    font-family: 'grafiti';
    padding:20px;
    height:90px;
    font-size:4em;
}

.letter_0 {
    color:#b077ef;
}
.letter_1 {
    color:#0000e2;
}
.letter_2 {
    color:#12afea;

}
.letter_3 {
    color:#10ce10;
}
.letter_4 {
    padding-right:20px;
    color:yellow;
    
}
.letter_5 {
    color:green;    
}
.letter_6 {
    color:orange;    
}
.letter_7 {
    color:orangered;    
}
.letter_8 {
    color:red;    
}
.letter_9 {
    color:brown;    
}