<div class="blindtest">
    <div *ngIf="isLoading" class="timer cadre question_bloc">
        Chargement en cours...
    </div>
    <ng-container *ngIf="!isLoading">
        <div *ngIf="nbSecondsToWait > 0" class="timer cadre question_bloc">
            Le jeu démarre dans {{nbSecondsToWait}} secondes
        </div>

        <div *ngIf="nbSecondsToWait === 0">
            <div class="cadre question_bloc">
                {{numQuestion}}/10 {{currentQuestion}}<br />
                <mat-progress-bar
                    class="progress-bar"
                    color="accent"
                    [value]="progressBarValue">
                </mat-progress-bar>
            </div>
            <div class="propositions_bloc">
                <button-proposition *ngFor="let prop of currentPropositions; index as i" [text]="prop" class="proposition proposition_{{i}}"
                    (propositionClicked)="answer(i)"></button-proposition>
            </div>
        </div>
    </ng-container>
</div>