.blindtest {
    display:block;
    margin:20px auto;
    max-width:900px;
}

.cadre {
    display: block;
    margin: auto;
    padding: 20px;
    border: 2px solid #3f51b5;  
    border-radius: 5px;
}

.timer {
    width: 90%;
}

.question_bloc {
    font-family: 'Pacifico';
    font-size: 34px;
    background:#3ca1e0;
    color: #d5f1ef;
}

.propositions_bloc {
    margin-top:80px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.progress-bar {
    display:block;
    margin:10px auto;
}
/*
.proposition {
    border: 3px solid #ddd;
    width:100%;
    cursor:pointer;
    color: #fff;
    padding: 40px 20px;
}

.proposition_0 {
    background: #0000e2;
}
.proposition_1 {
    background: #10ce10;
}
.proposition_2 {
    background: orangered;
}
.proposition_3 {
    background: darkcyan;
}
*/