.gameover {
    font-family: 'Pacifico';
    font-size: 34px;
    background:#3ca1e0;
    color: #fff;
    display:block;
    margin:20px auto;
    width:95%;
    max-width:500px;
    padding: 20px;
    border: 2px solid #3f51b5;  
    border-radius: 5px;
    text-align:center;
}

.gameover button {
    font-size:18px;
}