@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
	font-family: "grafiti";
	src: url('assets/grafiti2.ttf');
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: normal;
    src: local('Pacifico'), url('http://themes.googleusercontent.com/font?kit=fKnfV28XkldRW297cFLeqfesZW2xOQ-xsNqO47m55DA') format('truetype');
}
html {
    height: 100%;
}

body {
    background-color: #000;
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom 0px left 0px;
    min-height: 100%;
}
